{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col col-md-auto col-md-4">
            <form method="post">
                <div class="form-group">
                    <label for="email" class="required">
                        Email
                        {% if error %}
                        <span class="invalid-feedback d-block">
                            <span class="d-block">
                                <span class="form-error-icon badge badge-danger text-uppercase">Error</span>
                                <span class="form-error-message">
                                    {{ error.messageKey|trans(error.messageData, 'security') }}
                                </span>
                            </span>
                        </span>
                        {% endif %}
                    </label>
                    <input type="email" value="{{ last_username }}" name="email" id="email"
                           class="form-control {% if error %}is-invalid{% endif %}" required autofocus>
                </div>

                <div class="form-group">
                    <label for="password" class="required">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                           required>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-primary btn-block mt-3" type="submit">Sign in</button>
            </form>

            <div class="text-center mt-3">
                <a href="{{ path('app_register') }}">Register</a>
            </div>

        </div>
    </div>
{% endblock %}
