{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col col-md-auto col-md-4">
            {{ form_start(registrationForm, {attr: {autocomplete:'off'}}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            <button class="btn btn-primary btn-block mt-3" type="submit">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const validationEndpoint = "{{ path('app_register_validate') }}";

        $(document).ready(function () {
            $('form').on('submit', function (e) {
                if (!validateEmail()) {
                    e.preventDefault();
                }
            });
            $('#registration_form_email').on('change', function () {
                validateEmail();
            });
        });

        function validateEmail() {
            showLoader();
            const el = $('#registration_form_email');
            let error = null;

            removeValidationError(el);
            const xhr = $.ajax({
                async: false,
                url: validationEndpoint,
                method: 'post',
                dataType: 'json',
                data: {email: el.val()}
            });

            const result = xhr.status === 204;
            if (!result) {
                addValidationError(el, xhr.responseJSON.error);
            }

            hideLoader();

            return result;
        }

        function addValidationError(element, message) {
            element.addClass('is-invalid');
            const label = element.parent().find('label');
            label.find('.invalid-feedback').remove();
            label.append('<span class="invalid-feedback d-block">' +
                '<span class="d-block">' +
                '<span class="form-error-icon badge badge-danger text-uppercase">Error</span>' +
                '<span class="form-error-message">' +
                message +
                '</span></span></span>'
            );
        }

        function removeValidationError(element) {
            element.removeClass('is-invalid');
            element.parent().find('label').find('.invalid-feedback').remove();
        }

        function showLoader() {
            $('button[type="submit"]').attr("disabled", true);
        }

        function hideLoader() {
            $('button[type="submit"]').attr("disabled", false);
        }
    </script>
{% endblock %}
