{% extends 'base.html.twig' %}

{% block title %}Feed{% endblock %}

{% block stylesheets %}
    <style>
        .tag {
            font-size: larger;
        }

        .card-text h4 {
            font-size: larger;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="row pb-5">
        <div class="col-12">
            {% for word,count in words %}
                <span class="badge badge-secondary tag">
                    {{ word }}
                    <span class="badge badge-warning">{{ count }}</span>
                </span>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        {% for item in feed %}
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ item.title }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{ item.description|raw }}
                        </div>
                        <div class="card-text text-muted">
                            <div class="ml-0 ml-auto">{{ item.author.name }}</div>
                            <div class="mr-0">{{ item.lastModified|date }}</div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{{ item.link }}" target="_blank" class="card-link">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
